
<!-- <a [routerLink]="['/']">
  <img src="http://pngimg.com/uploads/nba/nba_PNG20.png" height="60px" style="float:left; margin:5px;" />
  <h1>Stack8 NBA Directory - Front-End Challenge</h1>
</a> -->



<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark animate__animated animate__fadeInDownBig">
  <a class="navbar-brand">
    <img src="http://pngimg.com/uploads/nba/nba_PNG20.png" width="30" height="60" class="d-inline-block" alt="">
    Stack8 NBA Directory
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">TEAMS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/players']">PLAYERS</a>
      </li>
    </ul>
  </div>
</nav>